In [1]:
import requests
import pandas as pd

In [3]:
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_WEEKLY&symbol=GOOG&apikey=PLWHFCZSI5GFFUMN'
r = requests.get(url)
google_weekly_data = r.json()

print(google_weekly_data)

{'Meta Data': {'1. Information': 'Weekly Prices (open, high, low, close) and Volumes', '2. Symbol': 'GOOG', '3. Last Refreshed': '2021-10-08', '4. Time Zone': 'US/Eastern'}, 'Weekly Time Series': {'2021-10-08': {'1. open': '2713.9900', '2. high': '2806.3400', '3. low': '2623.3300', '4. close': '2801.1200', '5. volume': '5629992'}, '2021-10-01': {'1. open': '2831.7100', '2. high': '2850.0000', '3. low': '2660.0000', '4. close': '2729.2500', '5. volume': '7556112'}, '2021-09-24': {'1. open': '2780.0035', '2. high': '2858.0700', '3. low': '2741.0600', '4. close': '2852.6600', '5. volume': '5367017'}, '2021-09-17': {'1. open': '2864.0200', '2. high': '2911.6300', '3. low': '2821.2300', '4. close': '2829.2700', '5. volume': '7004342'}, '2021-09-10': {'1. open': '2894.9900', '2. high': '2920.3800', '3. low': '2834.8300', '4. close': '2838.4200', '5. volume': '3917972'}, '2021-09-03': {'1. open': '2894.0900', '2. high': '2936.4099', '3. low': '2870.1000', '4. close': '2895.5000', '5. volume': '5023164'}, '2021-08-27': {'1. open': '2779.9700', '2. high': '2900.2200', '3. low': '2774.9586', '4. close': '2891.0100', '5. volume': '4427462'}, '2021-08-20': {'1. open': '2760.0000', '2. high': '2779.8100', '3. low': '2707.1200', '4. close': '2768.7400', '5. volume': '4406099'}, '2021-08-13': {'1. open': '2738.9800', '2. high': '2776.9550', '3. low': '2728.5750', '4. close': '2768.1200', '5. volume': '3540233'}, '2021-08-06': {'1. open': '2709.6900', '2. high': '2741.6009', '3. low': '2683.6700', '4. close': '2740.7200', '5. volume': '4058399'}, '2021-07-30': {'1. open': '2765.0000', '2. high': '2800.2200', '3. low': '2696.2840', '4. close': '2704.4200', '5. volume': '8141483'}, '2021-07-23': {'1. open': '2623.1100', '2. high': '2776.1700', '3. low': '2570.7400', '4. close': '2756.3200', '5. volume': '4975998'}, '2021-07-16': {'1. open': '2596.6700', '2. high': '2659.9199', '3. low': '2592.0000', '4. close': '2636.9100', '5. volume': '4146746'}, '2021-07-09': {'1. open': '2588.9900', '2. high': '2612.7983', '3. low': '2560.8000', '4. close': '2591.4900', '5. volume': '3646144'}, '2021-07-02': {'1. open': '2540.0000', '2. high': '2576.9600', '3. low': '2495.1500', '4. close': '2574.3800', '5. volume': '5567985'}, '2021-06-25': {'1. open': '2514.8000', '2. high': '2555.9200', '3. low': '2502.6850', '4. close': '2539.9000', '5. volume': '5967753'}, '2021-06-18': {'1. open': '2513.3900', '2. high': '2543.9300', '3. low': '2482.9994', '4. close': '2511.3500', '5. volume': '7496921'}, '2021-06-11': {'1. open': '2451.3200', '2. high': '2526.9900', '3. low': '2441.0725', '4. close': '2513.9300', '5. volume': '6276085'}, '2021-06-04': {'1. open': '2422.0000', '2. high': '2453.8590', '3. low': '2382.8300', '4. close': '2451.7600', '5. volume': '4031119'}, '2021-05-28': {'1. open': '2367.0000', '2. high': '2442.9440', '3. low': '2360.1100', '4. close': '2411.5600', '5. volume': '6250431'}, '2021-05-21': {'1. open': '2309.3200', '2. high': '2368.9999', '3. low': '2263.5200', '4. close': '2345.1000', '5. volume': '5158304'}, '2021-05-14': {'1. open': '2374.8900', '2. high': '2378.0000', '3. low': '2230.0500', '4. close': '2316.1600', '5. volume': '7317239'}, '2021-05-07': {'1. open': '2402.7200', '2. high': '2419.7000', '3. low': '2311.7000', '4. close': '2398.6900', '5. volume': '6730430'}, '2021-04-30': {'1. open': '2319.9300', '2. high': '2452.3780', '3. low': '2304.2700', '4. close': '2410.1200', '5. volume': '9561479'}, '2021-04-23': {'1. open': '2291.9800', '2. high': '2325.8200', '3. low': '2256.4500', '4. close': '2315.3000', '5. volume': '6009895'}, '2021-04-16': {'1. open': '2266.2500', '2. high': '2306.5965', '3. low': '2238.4650', '4. close': '2297.7600', '5. volume': '6246324'}, '2021-04-09': {'1. open': '2152.9400', '2. high': '2289.0400', '3. low': '2151.6200', '4. close': '2285.8800', '5. volume': '7210396'}, '2021-04-01': {'1. open': '2027.8800', '2. high': '2142.9400', '3. low': '2015.6200', '4. close': '2137.7500', '5. volume': '5425459'}, '2021-03-26': {'1. open': '2041.8400', '2. high': '2078.2100', '3. low': '2010.7300', '4. close': '2035.5500', '5. volume': '7388549'}, '2021-03-19': {'1. open': '2062.3000', '2. high': '2123.5600', '3. low': '2017.6800', '4. close': '2043.2000', '5. volume': '7766228'}, '2021-03-12': {'1. open': '2101.1300', '2. high': '2128.8100', '3. low': '2021.6100', '4. close': '2061.9200', '5. volume': '7578201'}, '2021-03-05': {'1. open': '2056.5200', '2. high': '2118.1100', '3. low': '2010.0000', '4. close': '2108.5400', '5. volume': '8337115'}, '2021-02-26': {'1. open': '2067.0000', '2. high': '2100.7800', '3. low': '2002.0200', '4. close': '2036.8600', '5. volume': '8103757'}, '2021-02-19': {'1. open': '2104.3600', '2. high': '2152.6800', '3. low': '2097.4100', '4. close': '2101.1400', '5. volume': '4733557'}, '2021-02-12': {'1. open': '2105.9100', '2. high': '2123.5469', '3. low': '2063.0900', '4. close': '2104.1100', '5. volume': '5062914'}, '2021-02-05': {'1. open': '1853.5700', '2. high': '2116.5000', '3. low': '1850.9300', '4. close': '2098.0000', '5. volume': '11211680'}, '2021-01-29': {'1. open': '1920.6700', '2. high': '1929.5800', '3. low': '1809.0000', '4. close': '1835.7400', '5. volume': '9374441'}, '2021-01-22': {'1. open': '1752.2500', '2. high': '1934.8600', '3. low': '1741.4600', '4. close': '1901.0500', '5. volume': '7561036'}, '2021-01-15': {'1. open': '1786.0700', '2. high': '1794.3150', '3. low': '1721.5500', '4. close': '1736.1900', '5. volume': '6181977'}, '2021-01-08': {'1. open': '1757.5400', '2. high': '1809.8400', '3. low': '1699.0000', '4. close': '1807.2100', '5. volume': '9965340'}, '2020-12-31': {'1. open': '1751.6350', '2. high': '1792.4400', '3. low': '1725.6000', '4. close': '1751.8800', '5. volume': '5008727'}, '2020-12-24': {'1. open': '1713.5100', '2. high': '1747.9900', '3. low': '1699.0000', '4. close': '1738.8500', '5. volume': '4147394'}, '2020-12-18': {'1. open': '1775.0000', '2. high': '1797.3900', '3. low': '1720.2200', '4. close': '1731.0100', '5. volume': '10237074'}, '2020-12-11': {'1. open': '1819.0000', '2. high': '1834.2700', '3. low': '1740.3200', '4. close': '1781.7700', '5. volume': '6508322'}, '2020-12-04': {'1. open': '1781.1844', '2. high': '1847.2000', '3. low': '1755.0000', '4. close': '1827.9900', '5. volume': '7344925'}, '2020-11-27': {'1. open': '1749.6000', '2. high': '1804.0000', '3. low': '1717.7200', '4. close': '1793.1900', '5. volume': '5584711'}, '2020-11-20': {'1. open': '1771.7000', '2. high': '1799.0700', '3. low': '1737.0050', '4. close': '1742.1900', '5. volume': '7130930'}, '2020-11-13': {'1. open': '1790.9000', '2. high': '1818.0600', '3. low': '1717.3000', '4. close': '1777.0200', '5. volume': '8917706'}, '2020-11-06': {'1. open': '1628.1600', '2. high': '1793.6400', '3. low': '1616.0300', '4. close': '1761.7500', '5. volume': '11495063'}, '2020-10-30': {'1. open': '1625.0100', '2. high': '1687.0000', '3. low': '1514.6200', '4. close': '1621.0100', '5. volume': '11250141'}, '2020-10-23': {'1. open': '1580.4600', '2. high': '1642.3600', '3. low': '1525.6700', '4. close': '1641.0000', '5. volume': '9227878'}, '2020-10-16': {'1. open': '1543.0000', '2. high': '1593.8600', '3. low': '1532.5700', '4. close': '1573.0100', '5. volume': '8990547'}, '2020-10-09': {'1. open': '1466.2100', '2. high': '1516.5200', '3. low': '1436.0000', '4. close': '1515.2200', '5. volume': '6728209'}, '2020-10-02': {'1. open': '1474.2100', '2. high': '1499.0400', '3. low': '1449.3012', '4. close': '1458.4200', '5. volume': '7752219'}, '2020-09-25': {'1. open': '1440.0600', '2. high': '1469.5200', '3. low': '1406.5500', '4. close': '1444.9600', '5. volume': '8902969'}, '2020-09-18': {'1. open': '1539.0050', '2. high': '1563.9999', '3. low': '1437.1300', '4. close': '1459.9900', '5. volume': '9323603'}, '2020-09-11': {'1. open': '1533.5100', '2. high': '1584.0810', '3. low': '1497.3600', '4. close': '1520.7200', '5. volume': '7601232'}, '2020-09-04': {'1. open': '1647.8900', '2. high': '1733.1799', '3. low': '1547.6125', '4. close': '1591.0400', '5. volume': '11877572'}, '2020-08-28': {'1. open': '1593.9800', '2. high': '1659.2200', '3. low': '1580.5700', '4. close': '1644.4100', '5. volume': '10484769'}, '2020-08-21': {'1. open': '1514.6700', '2. high': '1597.7200', '3. low': '1507.9700', '4. close': '1580.4200', '5. volume': '8205109'}, '2020-08-14': {'1. open': '1487.1800', '2. high': '1537.2500', '3. low': '1473.0800', '4. close': '1507.7300', '5. volume': '6991958'}, '2020-08-07': {'1. open': '1486.6400', '2. high': '1516.8450', '3. low': '1458.6500', '4. close': '1494.4900', '5. volume': '9788154'}, '2020-07-31': {'1. open': '1515.6000', '2. high': '1540.9700', '3. low': '1454.0300', '4. close': '1482.9600', '5. volume': '9155120'}, '2020-07-24': {'1. open': '1515.2600', '2. high': '1586.9900', '3. low': '1488.4000', '4. close': '1511.8700', '5. volume': '6834260'}, '2020-07-17': {'1. open': '1550.0000', '2. high': '1577.1300', '3. low': '1483.5000', '4. close': '1515.5500', '5. volume': '8168700'}, '2020-07-10': {'1. open': '1480.0600', '2. high': '1543.8300', '3. low': '1472.8600', '4. close': '1541.7400', '5. volume': '7552400'}, '2020-07-02': {'1. open': '1358.1800', '2. high': '1482.9500', '3. low': '1347.0100', '4. close': '1464.7000', '5. volume': '7488000'}, '2020-06-26': {'1. open': '1429.0000', '2. high': '1475.9400', '3. low': '1351.9900', '4. close': '1359.9000', '5. volume': '10226398'}, '2020-06-19': {'1. open': '1390.8000', '2. high': '1460.0000', '3. low': '1387.9200', '4. close': '1431.7200', '5. volume': '9507116'}, '2020-06-12': {'1. open': '1422.3400', '2. high': '1474.2600', '3. low': '1386.0200', '4. close': '1413.1800', '5. volume': '8276279'}, '2020-06-05': {'1. open': '1418.3900', '2. high': '1446.5500', '3. low': '1404.7300', '4. close': '1438.3900', '5. volume': '6970970'}, '2020-05-29': {'1. open': '1437.2700', '2. high': '1441.0000', '3. low': '1391.2900', '4. close': '1428.9200', '5. volume': '7278820'}, '2020-05-22': {'1. open': '1361.7500', '2. high': '1415.4900', '3. low': '1354.2500', '4. close': '1410.4200', '5. volume': '7447416'}, '2020-05-15': {'1. open': '1378.2800', '2. high': '1416.5300', '3. low': '1323.9100', '4. close': '1373.1900', '5. volume': '7926125'}, '2020-05-08': {'1. open': '1308.2300', '2. high': '1398.7600', '3. low': '1299.0000', '4. close': '1388.3700', '5. volume': '7158800'}, '2020-05-01': {'1. open': '1296.0000', '2. high': '1359.9900', '3. low': '1232.2000', '4. close': '1320.6100', '5. volume': '13087047'}, '2020-04-24': {'1. open': '1271.0000', '2. high': '1293.3100', '3. low': '1209.7100', '4. close': '1279.3100', '5. volume': '9148228'}, '2020-04-17': {'1. open': '1209.1800', '2. high': '1294.4300', '3. low': '1187.6000', '4. close': '1283.2500', '5. volume': '10349025'}, '2020-04-09': {'1. open': '1138.0000', '2. high': '1225.5700', '3. low': '1130.9400', '4. close': '1211.4500', '5. volume': '9202608'}, '2020-04-03': {'1. open': '1125.0400', '2. high': '1175.3100', '3. low': '1079.8100', '4. close': '1097.8800', '5. volume': '11684498'}, '2020-03-27': {'1. open': '1061.3200', '2. high': '1169.9700', '3. low': '1013.5400', '4. close': '1110.7100', '5. volume': '18252365'}, '2020-03-20': {'1. open': '1096.0000', '2. high': '1157.9700', '3. low': '1037.2800', '4. close': '1072.3200', '5. volume': '19600145'}, '2020-03-13': {'1. open': '1205.3000', '2. high': '1281.1500', '3. low': '1113.3000', '4. close': '1219.7300', '5. volume': '16514840'}, '2020-03-06': {'1. open': '1351.6100', '2. high': '1410.1500', '3. low': '1261.0500', '4. close': '1298.4100', '5. volume': '11969025'}, '2020-02-28': {'1. open': '1426.1100', '2. high': '1438.1400', '3. low': '1271.0000', '4. close': '1339.3300', '5. volume': '14318286'}, '2020-02-21': {'1. open': '1515.0000', '2. high': '1532.1100', '3. low': '1480.4400', '4. close': '1485.1100', '5. volume': '4899233'}, '2020-02-14': {'1. open': '1474.3200', '2. high': '1529.6300', '3. low': '1474.3200', '4. close': '1520.7400', '5. volume': '6059640'}, '2020-02-07': {'1. open': '1462.0000', '2. high': '1490.0000', '3. low': '1426.3000', '4. close': '1479.2300', '5. volume': '11825981'}, '2020-01-31': {'1. open': '1431.0000', '2. high': '1470.1300', '3. low': '1421.2000', '4. close': '1434.2300', '5. volume': '8167925'}, '2020-01-24': {'1. open': '1479.1200', '2. high': '1503.2100', '3. low': '1465.2500', '4. close': '1466.7100', '5. volume': '6755674'}, '2020-01-17': {'1. open': '1436.1300', '2. high': '1481.3000', '3. low': '1426.0200', '4. close': '1480.3900', '5. volume': '7791327'}, '2020-01-10': {'1. open': '1350.0000', '2. high': '1434.9300', '3. low': '1350.0000', '4. close': '1429.7300', '5. volume': '8098249'}, '2020-01-03': {'1. open': '1350.0000', '2. high': '1372.5000', '3. low': '1329.0900', '4. close': '1360.6600', '5. volume': '4607528'}, '2019-12-27': {'1. open': '1355.8700', '2. high': '1364.5300', '3. low': '1342.7800', '4. close': '1351.8900', '5. volume': '2937190'}, '2019-12-20': {'1. open': '1356.5000', '2. high': '1365.0000', '3. low': '1348.9800', '4. close': '1349.5900', '5. volume': '9696796'}, '2019-12-13': {'1. open': '1338.0400', '2. high': '1359.4500', '3. low': '1336.0400', '4. close': '1347.8300', '5. volume': '6132994'}, '2019-12-06': {'1. open': '1301.0000', '2. high': '1344.0000', '3. low': '1279.0000', '4. close': '1340.6200', '5. volume': '6846936'}, '2019-11-29': {'1. open': '1299.1800', '2. high': '1318.3600', '3. low': '1298.1300', '4. close': '1304.9600', '5. volume': '3689592'}, '2019-11-22': {'1. open': '1332.2200', '2. high': '1335.5300', '3. low': '1291.1500', '4. close': '1295.3400', '5. volume': '6449295'}, '2019-11-15': {'1. open': '1303.1800', '2. high': '1334.8800', '3. low': '1293.5100', '4. close': '1334.8700', '5. volume': '5929409'}, '2019-11-08': {'1. open': '1276.4500', '2. high': '1323.7400', '3. low': '1276.3600', '4. close': '1311.3700', '5. volume': '7218538'}, '2019-11-01': {'1. open': '1275.4500', '2. high': '1299.3100', '3. low': '1250.8400', '4. close': '1273.7400', '5. volume': '8945930'}, '2019-10-25': {'1. open': '1252.2600', '2. high': '1269.6000', '3. low': '1240.6000', '4. close': '1265.1300', '5. volume': '5256115'}, '2019-10-18': {'1. open': '1212.3400', '2. high': '1263.3300', '3. low': '1211.7600', '4. close': '1245.4900', '5. volume': '5747906'}, '2019-10-11': {'1. open': '1204.4000', '2. high': '1228.3900', '3. low': '1189.0100', '4. close': '1215.4500', '5. volume': '5095240'}, '2019-10-04': {'1. open': '1220.9700', '2. high': '1231.2300', '3. low': '1162.4300', '4. close': '1209.0000', '5. volume': '7264112'}, '2019-09-27': {'1. open': '1226.0000', '2. high': '1248.3000', '3. low': '1210.0900', '4. close': '1225.0900', '5. volume': '7177228'}, '2019-09-20': {'1. open': '1229.5200', '2. high': '1244.4400', '3. low': '1216.5300', '4. close': '1229.9300', '5. volume': '6493168'}, '2019-09-13': {'1. open': '1204.0000', '2. high': '1241.8600', '3. low': '1192.6200', '4. close': '1239.5600', '5. volume': '7066286'}, '2019-09-06': {'1. open': '1177.0300', '2. high': '1213.0400', '3. low': '1163.2000', '4. close': '1204.9300', '5. volume': '5030132'}, '2019-08-30': {'1. open': '1157.2600', '2. high': '1198.5000', '3. low': '1152.9600', '4. close': '1188.1000', '5. volume': '5293625'}, '2019-08-23': {'1. open': '1190.0900', '2. high': '1206.9900', '3. low': '1147.7500', '4. close': '1151.2900', '5. volume': '5525352'}, '2019-08-16': {'1. open': '1179.2100', '2. high': '1204.7800', '3. low': '1160.5400', '4. close': '1177.6000', '5. volume': '6474039'}, '2019-08-09': {'1. open': '1170.0400', '2. high': '1205.0100', '3. low': '1140.1400', '4. close': '1188.0100', '5. volume': '8284808'}, '2019-08-02': {'1. open': '1241.0500', '2. high': '1247.3700', '3. low': '1188.9400', '4. close': '1193.9900', '5. volume': '8746025'}, '2019-07-26': {'1. open': '1133.4500', '2. high': '1265.5500', '3. low': '1120.9200', '4. close': '1250.4100', '5. volume': '11001268'}, '2019-07-19': {'1. open': '1146.8600', '2. high': '1158.5800', '3. low': '1129.6200', '4. close': '1130.1000', '5. volume': '6251160'}, '2019-07-12': {'1. open': '1125.1700', '2. high': '1153.0700', '3. low': '1107.1700', '4. close': '1144.9000', '5. volume': '5835797'}, '2019-07-05': {'1. open': '1098.0000', '2. high': '1132.8800', '3. low': '1093.7000', '4. close': '1131.5900', '5. volume': '4461810'}, '2019-06-28': {'1. open': '1119.6100', '2. high': '1122.0000', '3. low': '1072.2400', '4. close': '1080.9100', '5. volume': '7451405'}, '2019-06-21': {'1. open': '1086.2800', '2. high': '1124.1100', '3. low': '1086.2800', '4. close': '1121.8800', '5. volume': '6877106'}, '2019-06-14': {'1. open': '1072.9800', '2. high': '1101.9900', '3. low': '1067.5400', '4. close': '1085.3500', '5. volume': '6132209'}, '2019-06-07': {'1. open': '1065.5000', '2. high': '1070.9200', '3. low': '1025.0000', '4. close': '1066.0400', '5. volume': '13638112'}, '2019-05-31': {'1. open': '1134.0000', '2. high': '1151.5900', '3. low': '1100.1800', '4. close': '1103.6300', '5. volume': '5363454'}, '2019-05-24': {'1. open': '1144.5000', '2. high': '1158.5200', '3. low': '1129.2200', '4. close': '1133.4700', '5. volume': '5739930'}, '2019-05-17': {'1. open': '1141.9600', '2. high': '1188.1600', '3. low': '1116.6700', '4. close': '1162.3000', '5. volume': '8726581'}, '2019-05-10': {'1. open': '1166.2600', '2. high': '1190.8500', '3. low': '1142.5000', '4. close': '1164.2700', '5. volume': '6925344'}, '2019-05-03': {'1. open': '1274.0000', '2. high': '1289.2700', '3. low': '1155.0000', '4. close': '1185.4000', '5. volume': '15274912'}, '2019-04-26': {'1. open': '1235.9900', '2. high': '1273.0700', '3. low': '1228.3100', '4. close': '1272.1800', '5. volume': '5494720'}, '2019-04-18': {'1. open': '1218.0000', '2. high': '1242.0000', '3. low': '1209.1100', '4. close': '1236.3700', '5. volume': '4597576'}, '2019-04-12': {'1. open': '1207.8900', '2. high': '1218.3500', '3. low': '1193.0800', '4. close': '1217.8700', '5. volume': '4105412'}, '2019-04-05': {'1. open': '1184.1000', '2. high': '1216.3000', '3. low': '1182.0000', '4. close': '1207.1500', '5. volume': '4956467'}, '2019-03-29': {'1. open': '1196.9300', '2. high': '1206.4000', '3. low': '1159.3700', '4. close': '1173.3100', '5. volume': '7080648'}, '2019-03-22': {'1. open': '1183.3000', '2. high': '1231.7900', '3. low': '1177.4200', '4. close': '1205.5000', '5. volume': '7959399'}, '2019-03-15': {'1. open': '1144.4500', '2. high': '1200.9300', '3. low': '1144.4500', '4. close': '1184.4600', '5. volume': '8801015'}, '2019-03-08': {'1. open': '1146.9900', '2. high': '1169.6100', '3. low': '1123.3000', '4. close': '1142.3200', '5. volume': '6367558'}, '2019-03-01': {'1. open': '1116.0000', '2. high': '1142.9700', '3. low': '1099.9200', '4. close': '1140.9900', '5. volume': '6846489'}, '2019-02-22': {'1. open': '1110.0000', '2. high': '1123.4100', '3. low': '1092.5200', '4. close': '1110.3700', '5. volume': '4599463'}, '2019-02-15': {'1. open': '1096.9500', '2. high': '1134.7300', '3. low': '1092.8600', '4. close': '1113.6500', '5. volume': '6121950'}, '2019-02-08': {'1. open': '1112.6600', '2. high': '1147.0000', '3. low': '1086.0000', '4. close': '1095.0600', '5. volume': '11354852'}, '2019-02-01': {'1. open': '1080.1100', '2. high': '1125.0000', '3. low': '1055.8600', '4. close': '1110.7500', '5. volume': '6586454'}, '2019-01-25': {'1. open': '1088.0000', '2. high': '1094.0000', '3. low': '1059.7500', '4. close': '1090.9900', '5. volume': '5061372'}, '2019-01-18': {'1. open': '1046.9200', '2. high': '1108.3500', '3. low': '1041.2600', '4. close': '1098.2600', '5. volume': '7137875'}, '2019-01-11': {'1. open': '1071.5000', '2. high': '1084.5600', '3. low': '1048.4800', '4. close': '1057.1900', '5. volume': '7923590'}, '2019-01-04': {'1. open': '1050.9600', '2. high': '1070.8400', '3. low': '1014.0700', '4. close': '1070.7100', '5. volume': '6961290'}, '2018-12-28': {'1. open': '973.9000', '2. high': '1055.5600', '

In [4]:
google_weekly_df = pd.DataFrame.from_dict(google_weekly_data['Weekly Time Series']).T
google_weekly_df.head(50)

              1. open    2. high     3. low   4. close 5. volume
2021-10-08  2713.9900  2806.3400  2623.3300  2801.1200   5629992
2021-10-01  2831.7100  2850.0000  2660.0000  2729.2500   7556112
2021-09-24  2780.0035  2858.0700  2741.0600  2852.6600   5367017
2021-09-17  2864.0200  2911.6300  2821.2300  2829.2700   7004342
2021-09-10  2894.9900  2920.3800  2834.8300  2838.4200   3917972
2021-09-03  2894.0900  2936.4099  2870.1000  2895.5000   5023164
2021-08-27  2779.9700  2900.2200  2774.9586  2891.0100   4427462
2021-08-20  2760.0000  2779.8100  2707.1200  2768.7400   4406099
2021-08-13  2738.9800  2776.9550  2728.5750  2768.1200   3540233
2021-08-06  2709.6900  2741.6009  2683.6700  2740.7200   4058399
2021-07-30  2765.0000  2800.2200  2696.2840  2704.4200   8141483
2021-07-23  2623.1100  2776.1700  2570.7400  2756.3200   4975998
2021-07-16  2596.6700  2659.9199  2592.0000  2636.9100   4146746
2021-07-09  2588.9900  2612.7983  2560.8000  2591.4900   3646144
2021-07-02  2540.0000  2576.9600  2495.1500  2574.3800   5567985
2021-06-25  2514.8000  2555.9200  2502.6850  2539.9000   5967753
2021-06-18  2513.3900  2543.9300  2482.9994  2511.3500   7496921
2021-06-11  2451.3200  2526.9900  2441.0725  2513.9300   6276085
2021-06-04  2422.0000  2453.8590  2382.8300  2451.7600   4031119
2021-05-28  2367.0000  2442.9440  2360.1100  2411.5600   6250431
2021-05-21  2309.3200  2368.9999  2263.5200  2345.1000   5158304
2021-05-14  2374.8900  2378.0000  2230.0500  2316.1600   7317239
2021-05-07  2402.7200  2419.7000  2311.7000  2398.6900   6730430
2021-04-30  2319.9300  2452.3780  2304.2700  2410.1200   9561479
2021-04-23  2291.9800  2325.8200  2256.4500  2315.3000   6009895
2021-04-16  2266.2500  2306.5965  2238.4650  2297.7600   6246324
2021-04-09  2152.9400  2289.0400  2151.6200  2285.8800   7210396
2021-04-01  2027.8800  2142.9400  2015.6200  2137.7500   5425459
2021-03-26  2041.8400  2078.2100  2010.7300  2035.5500   7388549
2021-03-19  2062.3000  2123.5600  2017.6800  2043.2000   7766228
2021-03-12  2101.1300  2128.8100  2021.6100  2061.9200   7578201
2021-03-05  2056.5200  2118.1100  2010.0000  2108.5400   8337115
2021-02-26  2067.0000  2100.7800  2002.0200  2036.8600   8103757
2021-02-19  2104.3600  2152.6800  2097.4100  2101.1400   4733557
2021-02-12  2105.9100  2123.5469  2063.0900  2104.1100   5062914
2021-02-05  1853.5700  2116.5000  1850.9300  2098.0000  11211680
2021-01-29  1920.6700  1929.5800  1809.0000  1835.7400   9374441
2021-01-22  1752.2500  1934.8600  1741.4600  1901.0500   7561036
2021-01-15  1786.0700  1794.3150  1721.5500  1736.1900   6181977
2021-01-08  1757.5400  1809.8400  1699.0000  1807.2100   9965340
2020-12-31  1751.6350  1792.4400  1725.6000  1751.8800   5008727
2020-12-24  1713.5100  1747.9900  1699.0000  1738.8500   4147394
2020-12-18  1775.0000  1797.3900  1720.2200  1731.0100  10237074
2020-12-11  1819.0000  1834.2700  1740.3200  1781.7700   6508322
2020-12-04  1781.1844  1847.2000  1755.0000  1827.9900   7344925
2020-11-27  1749.6000  1804.0000  1717.7200  1793.1900   5584711
2020-11-20  1771.7000  1799.0700  1737.0050  1742.1900   7130930
2020-11-13  1790.9000  1818.0600  1717.3000  1777.0200   8917706
2020-11-06  1628.1600  1793.6400  1616.0300  1761.7500  11495063
2020-10-30  1625.0100  1687.0000  1514.6200  1621.0100  11250141

In [7]:
url = 'https://www.alphavantage.co/query?function=RSI&symbol=GOOG&interval=weekly&time_period=10&series_type=open&apikey=PLWHFCZSI5GFFUMN'
r = requests.get(url)
google_rsi_weekly = r.json()

print(google_rsi_weekly)

{'Meta Data': {'1: Symbol': 'GOOG', '2: Indicator': 'Relative Strength Index (RSI)', '3: Last Refreshed': '2021-10-08', '4: Interval': 'weekly', '5: Time Period': 10, '6: Series Type': 'open', '7: Time Zone': 'US/Eastern Time'}, 'Technical Analysis: RSI': {'2021-10-08': {'RSI': '54.8366'}, '2021-10-01': {'RSI': '69.5538'}, '2021-09-24': {'RSI': '65.9402'}, '2021-09-17': {'RSI': '79.7888'}, '2021-09-10': {'RSI': '85.7644'}, '2021-09-03': {'RSI': '85.7365'}, '2021-08-27': {'RSI': '81.6198'}, '2021-08-20': {'RSI': '80.7446'}, '2021-08-13': {'RSI': '79.8349'}, '2021-08-06': {'RSI': '78.5650'}, '2021-07-30': {'RSI': '87.9817'}, '2021-07-23': {'RSI': '83.3833'}, '2021-07-16': {'RSI': '82.2440'}, '2021-07-09': {'RSI': '81.9199'}, '2021-07-02': {'RSI': '79.8036'}, '2021-06-25': {'RSI': '78.6465'}, '2021-06-18': {'RSI': '78.5847'}, '2021-06-11': {'RSI': '75.8118'}, '2021-06-04': {'RSI': '74.4028'}, '2021-05-28': {'RSI': '71.6108'}, '2021-05-21': {'RSI': '68.3527'}, '2021-05-14': {'RSI': '77.4462'}, '2021-05-07': {'RSI': '81.5927'}, '2021-04-30': {'RSI': '78.5125'}, '2021-04-23': {'RSI': '77.3616'}, '2021-04-16': {'RSI': '76.3102'}, '2021-04-09': {'RSI': '70.9660'}, '2021-04-01': {'RSI': '62.5809'}, '2021-03-26': {'RSI': '64.4509'}, '2021-03-19': {'RSI': '67.0955'}, '2021-03-12': {'RSI': '72.1523'}, '2021-03-05': {'RSI': '69.7988'}, '2021-02-26': {'RSI': '71.0687'}, '2021-02-19': {'RSI': '75.4744'}, '2021-02-12': {'RSI': '75.6495'}, '2021-02-05': {'RSI': '63.1084'}, '2021-01-29': {'RSI': '71.9804'}, '2021-01-22': {'RSI': '58.9411'}, '2021-01-15': {'RSI': '64.3534'}, '2021-01-08': {'RSI': '61.6820'}, '2020-12-31': {'RSI': '61.1395'}, '2020-12-24': {'RSI': '57.6560'}, '2020-12-18': {'RSI': '66.2805'}, '2020-12-11': {'RSI': '73.3462'}, '2020-12-04': {'RSI': '70.9508'}, '2020-11-27': {'RSI': '68.8463'}, '2020-11-20': {'RSI': '72.1374'}, '2020-11-13': {'RSI': '74.9385'}, '2020-11-06': {'RSI': '64.3907'}, '2020-10-30': {'RSI': '64.1277'}, '2020-10-23': {'RSI': '60.4053'}, '2020-10-16': {'RSI': '57.0310'}, '2020-10-09': {'RSI': '49.0147'}, '2020-10-02': {'RSI': '49.8873'}, '2020-09-25': {'RSI': '46.2080'}, '2020-09-18': {'RSI': '57.1496'}, '2020-09-11': {'RSI': '56.6364'}, '2020-09-04': {'RSI': '73.0204'}, '2020-08-28': {'RSI': '69.2466'}, '2020-08-21': {'RSI': '62.2564'}, '2020-08-14': {'RSI': '59.3759'}, '2020-08-07': {'RSI': '59.3210'}, '2020-07-31': {'RSI': '63.4592'}, '2020-07-24': {'RSI': '63.4323'}, '2020-07-17': {'RSI': '68.0482'}, '2020-07-10': {'RSI': '63.1954'}, '2020-07-02': {'RSI': '51.6873'}, '2020-06-26': {'RSI': '61.7914'}, '2020-06-19': {'RSI': '57.7852'}, '2020-06-12': {'RSI': '62.6678'}, '2020-06-05': {'RSI': '62.3089'}, '2020-05-29': {'RSI': '64.9974'}, '2020-05-22': {'RSI': '58.5605'}, '2020-05-15': {'RSI': '60.7617'}, '2020-05-08': {'RSI': '54.1950'}, '2020-05-01': {'RSI': '52.9579'}, '2020-04-24': {'RSI': '50.4984'}, '2020-04-17': {'RSI': '43.9802'}, '2020-04-09': {'RSI': '35.1282'}, '2020-04-03': {'RSI': '33.4038'}, '2020-03-27': {'RSI': '24.5263'}, '2020-03-20': {'RSI': '26.2396'}, '2020-03-13': {'RSI': '32.7239'}, '2020-03-06': {'RSI': '46.5963'}, '2020-02-28': {'RSI': '57.8314'}, '2020-02-21': {'RSI': '78.0366'}, '2020-02-14': {'RSI': '74.3447'}, '2020-02-07': {'RSI': '73.1128'}, '2020-01-31': {'RSI': '69.8325'}, '2020-01-24': {'RSI': '84.1805'}, '2020-01-17': {'RSI': '81.0499'}, '2020-01-10': {'RSI': '70.5362'}, '2020-01-03': {'RSI': '70.5362'}, '2019-12-27': {'RSI': '72.7648'}, '2019-12-20': {'RSI': '72.9875'}, '2019-12-13': {'RSI': '70.6153'}, '2019-12-06': {'RSI': '65.0770'}, '2019-11-29': {'RSI': '64.7835'}, '2019-11-22': {'RSI': '75.0959'}, '2019-11-15': {'RSI': '71.5082'}, '2019-11-08': {'RSI': '67.6472'}, '2019-11-01': {'RSI': '67.4989'}, '2019-10-25': {'RSI': '64.0608'}, '2019-10-18': {'RSI': '57.0160'}, '2019-10-11': {'RSI': '55.4529'}, '2019-10-04': {'RSI': '59.5181'}, '2019-09-27': {'RSI': '60.7345'}, '2019-09-20': {'RSI': '61.5264'}, '2019-09-13': {'RSI': '57.9485'}, '2019-09-06': {'RSI': '53.8680'}, '2019-08-30': {'RSI': '50.7127'}, '2019-08-23': {'RSI': '56.4869'}, '2019-08-16': {'RSI': '54.9572'}, '2019-08-09': {'RSI': '53.7232'}, '2019-08-02': {'RSI': '66.4017'}, '2019-07-26': {'RSI': '50.4566'}, '2019-07-19': {'RSI': '53.2935'}, '2019-07-12': {'RSI': '49.1300'}, '2019-07-05': {'RSI': '43.4465'}, '2019-06-28': {'RSI': '47.2232'}, '2019-06-21': {'RSI': '39.9809'}, '2019-06-14': {'RSI': '36.8697'}, '2019-06-07': {'RSI': '35.1687'}, '2019-05-31': {'RSI': '45.2086'}, '2019-05-24': {'RSI': '47.0621'}, '2019-05-17': {'RSI': '46.5853'}, '2019-05-10': {'RSI': '50.5016'}, '2019-05-03': {'RSI': '75.9940'}, '2019-04-26': {'RSI': '71.4120'}, '2019-04-18': {'RSI': '68.8820'}, '2019-04-12': {'RSI': '67.4238'}, '2019-04-05': {'RSI': '63.8349'}, '2019-03-29': {'RSI': '67.4412'}, '2019-03-22': {'RSI': '65.5821'}, '2019-03-15': {'RSI': '59.6755'}, '2019-03-08': {'RSI': '60.2843'}, '2019-03-01': {'RSI': '55.2743'}, '2019-02-22': {'RSI': '54.2691'}, '2019-02-15': {'RSI': '52.1646'}, '2019-02-08': {'RSI': '54.9020'}, '2019-02-01': {'RSI': '50.0103'}, '2019-01-25': {'RSI': '51.2224'}, '2019-01-18': {'RSI': '44.9730'}, '2019-01-11': {'RSI': '48.3058'}, '2019-01-04': {'RSI': '45.2546'}, '2018-12-28': {'RSI': '31.6285'}, '2018-12-21': {'RSI': '38.8037'}, '2018-12-14': {'RSI': '38.3167'}, '2018-12-07': {'RSI': '51.5357'}, '2018-11-30': {'RSI': '30.8776'}, '2018-11-23': {'RSI': '33.7566'}, '2018-11-16': {'RSI': '34.3982'}, '2018-11-09': {'RSI': '32.6409'}, '2018-11-02': {'RSI': '36.4149'}, '2018-10-26': {'RSI': '39.4955'}, '2018-10-19': {'RSI': '40.3687'}, '2018-10-12': {'RSI': '46.9481'}, '2018-10-05': {'RSI': '57.0613'}, '2018-09-28': {'RSI': '48.4916'}, '2018-09-21': {'RSI': '51.2886'}, '2018-09-14': {'RSI': '51.7129'}, '2018-09-07': {'RSI': '58.5328'}, '2018-08-31': {'RSI': '64.0625'}, '2018-08-24': {'RSI': '60.8400'}, '2018-08-17': {'RSI': '68.6860'}, '2018-08-10': {'RSI': '67.2617'}, '2018-08-03': {'RSI': '67.9607'}, '2018-07-27': {'RSI': '62.4812'}, '2018-07-20': {'RSI': '64.2443'}, '2018-07-13': {'RSI': '59.1840'}, '2018-07-06': {'RSI': '51.7509'}, '2018-06-29': {'RSI': '60.7216'}, '2018-06-22': {'RSI': '60.7323'}, '2018-06-15': {'RSI': '57.3697'}, '2018-06-08': {'RSI': '58.0357'}, '2018-06-01': {'RSI': '49.9895'}, '2018-05-25': {'RSI': '51.4057'}, '2018-05-18': {'RSI': '55.4015'}, '2018-05-11': {'RSI': '48.3262'}, '2018-05-04': {'RSI': '45.3734'}, '2018-04-27': {'RSI': '52.0357'}, '2018-04-20': {'RSI': '45.9348'}, '2018-04-13': {'RSI': '42.6914'}, '2018-04-06': {'RSI': '43.3896'}, '2018-03-29': {'RSI': '45.9963'}, '2018-03-23': {'RSI': '55.5936'}, '2018-03-16': {'RSI': '62.5517'}, '2018-03-09': {'RSI': '51.4960'}, '2018-03-02': {'RSI': '61.1393'}, '2018-02-23': {'RSI': '55.8825'}, '2018-02-16': {'RSI': '48.7479'}, '2018-02-09': {'RSI': '57.0584'}, '2018-02-02': {'RSI': '82.6114'}, '2018-01-26': {'RSI': '78.7168'}, '2018-01-19': {'RSI': '78.1544'}, '2018-01-12': {'RSI': '74.4611'}, '2018-01-05': {'RSI': '64.9769'}, '2017-12-29': {'RSI': '69.1497'}, '2017-12-22': {'RSI': '72.6044'}, '2017-12-15': {'RSI': '66.9272'}, '2017-12-08': {'RSI': '61.5746'}, '2017-12-01': {'RSI': '74.5779'}, '2017-11-24': {'RSI': '70.5344'}, '2017-11-17': {'RSI': '72.1886'}, '2017-11-10': {'RSI': '74.9782'}, '2017-11-03': {'RSI': '72.3944'}, '2017-10-27': {'RSI': '67.4549'}, '2017-10-20': {'RSI': '68.6196'}, '2017-10-13': {'RSI': '66.1530'}, '2017-10-06': {'RSI': '61.6662'}, '2017-09-29': {'RSI': '51.7342'}, '2017-09-22': {'RSI': '49.8935'}, '2017-09-15': {'RSI': '54.8188'}, '2017-09-08': {'RSI': '54.4866'}, '2017-09-01': {'RSI': '49.6192'}, '2017-08-25': {'RSI': '47.8561'}, '2017-08-18': {'RSI': '51.2253'}, '2017-08-11': {'RSI': '52.9746'}, '2017-08-04': {'RSI': '56.3792'}, '2017-07-28': {'RSI': '65.3091'}, '2017-07-21': {'RSI': '62.6363'}, '2017-07-14': {'RSI': '55.4926'}, '2017-07-07': {'RSI': '53.3054'}, '2017-06-30': {'RSI': '72.6429'}, '2017-06-23': {'RSI': '69.1651'}, '2017-06-16': {'RSI': '67.2082'}, '2017-06-09': {'RSI': '84.3420'}, '2017-06-02': {'RSI': '83.7115'}, '2017-05-26': {'RSI': '79.5099'}, '2017-05-19': {'RSI': '79.2299'}, '2017-05-12': {'RSI': '78.3427'}, '2017-05-05': {'RSI': '74.9306'}, '2017-04-28': {'RSI': '64.3115'}, '2017-04-21': {'RSI': '55.5684'}, '2017-04-13': {'RSI': '55.7468'}, '2017-04-07': {'RSI': '57.4183'}, '2017-03-31': {'RSI': '49.4929'}, '2017-03-24': {'RSI': '73.2022'}, '2017-03-17': {'RSI': '71.4864'}, '2017-03-10': {'RSI': '65.9141'}, '2017-03-03': {'RSI': '65.0487'}, '2017-02-24': {'RSI': '67.6976'}, '2017-02-17': {'RSI': '63.5870'}, '2017-02-10': {'RSI': '57.2890'}, '2017-02-03': {'RSI': '66.8379'}, '2017-01-27': {'RSI': '64.1761'}, '2017-01-20': {'RSI': '64.1166'}, '2017-01-13': {'RSI': '63.9008'}, '2017-01-06': {'RSI': '53.7458'}, '2016-12-30': {'RSI': '60.3156'}, '2016-12-23': {'RSI': '60.1457'}, '2016-12-16': {'RSI': '58.3378'}, '2016-12-09': {'RSI': '46.8999'}, '2016-12-02': {'RSI': '47.8914'}, '2016-11-25': {'RSI': '48.9530'}, '2016-11-18': {'RSI': '46.0630'}, '2016-11-11': {'RSI': '53.3989'}, '2016-11-04': {'RSI': '63.4968'}, '2016-10-28': {'RSI': '68.7593'}, '2016-10-21': {'RSI': '61.0204'}, '2016-10-14': {'RSI': '60.2831'}, '2016-10-07': {'RSI': '59.1313'}, '2016-09-30': {'RSI': '63.1774'}, '2016-09-23': {'RSI': '60.1979'}, '2016-09-16': {'RSI': '54.6670'}, '2016-09-09': {'RSI': '63.0177'}, '2016-09-02': {'RSI': '61.6627'}, '2016-08-26': {'RSI': '63.6825'}, '2016-08-19': {'RSI': '68.3435'}, '2016-08-12': {'RSI': '67.9914'}, '2016-08-05': {'RSI': '63.6430'}, '2016-07-29': {'RSI': '58.7133'}, '2016-07-22': {'RSI': '53.7491'}, '2016-07-15': {'RSI': '49.2679'}, '2016-07-08': {'RSI': '45.3720'}, '2016-07-01': {'RSI': '36.1482'}, '2016-06-24': {'RSI': '43.4681'}, '2016-06-17': {'RSI': '49.1955'}, '2016-06-10': {'RSI': '52.1222'}, '2016-06-03': {'RSI': '54.4946'}, '2016-05-27': {'RSI': '46.3883'}, '2016-05-20': {'RSI': '47.1682'}, '2016-05-13': {'RSI': '47.9694'}, '2016-05-06': {'RSI': '43.6565'}, '2016-04-29': {'RSI': '48.2866'}, '2016-04-22': {'RSI': '62.6489'}, '2016-04-15': {'RSI': '58.2556'}, '2016-04-08': {'RSI': '60.8561'}, '2016-04-01': {'RSI': '57.6489'}, '2016-03-24': {'RSI': '57.5805'}, '2016-03-18': {'RSI': '55.4164'}, '2016-03-11': {'RSI': '50.7722'}, '2016-03-04': {'RSI': '49.1981'}, '2016-02-26': {'RSI': '50.7816'}, '2016-02-19': {'RSI': '47.7074'}, '2016-02-12': {'RSI': '42.0500'}, '2016-02-05': {'RSI': '61.8460'}, '2016-01-29': {'RSI': '55.7448'}, '2016-01-22': {'RSI': '50.3541'}, '2016-01-15': {'RSI': '54.2580'}, '2016-01-08': {'RSI': '62.9694'}, '2015-12-31': {'RSI': '66.5862'}, '2015-12-24': {'RSI': '65.3606'}, '2015-12-18': {'RSI': '64.6139'}, '2015-12-11': {'RSI': '73.1037'}, '2015-12-04': {'RSI': '70.5633'}, '2015-11-27': {'RSI': '73.4069'}, '2015-11-20': {'RSI': '67.7395'}, '2015-11-13': {'RSI': '72.5972'}, '2015-11-06': {'RSI': '70.0643'}, '2015-10-30': {'RSI': '68.7737'}, '2015-10-23': {'RSI': '62.6157'}, '2015-10-16': {'RSI': '59.1907'}, '2015-10-09': {'RSI': '57.3311'}, '2015-10-02': {'RSI': '53.2120'}, '2015-09-25': {'RSI': '58.8960'}, '2015-09-18': {'RSI': '57.4156'}, '2015-09-11': {'RSI': '55.2113'}, '2015-09-04': {'RSI': '58.3060'}, '2015-08-28': {'RSI': '48.9787'}, '2015-08-21': {'RSI': '70.9170'}, '2015-08-14': {'RSI': '68.2736'}, '2015-08-07': {'RSI': '66.0032'}, '2015-07-31': {'RSI': '65.3176'}, '2015-07-24': {'RSI': '77.7519'}, '2015-07-17': {'RSI': '48.7203'}, '2015-07-10': {'RSI': '41.4377'}, '2015-07-02': {'RSI': '43.7399'}, '2015-06-26': {'RSI': '50.4099'}, '2015-06-19': {'RSI': '44.3373'}, '2015-06-12': {'RSI': '46.6951'}, '2015-06-05': {'RSI': '48.2072'}, '2015-05-29': {'RSI': '48.7502'}, '2015-05-22': {'RSI': '46.2468'}, '2015-05-15': {'RSI': '48.4646'}, '2015-05-08': {'RSI': '48.5173'}, '2015-05-01': {'RSI': '57.2135'}, '2015-04-24': {'RSI': '43.3127'}, '2015-04-17': {'RSI': '48.0780'}, '2015-04-10': {'RSI': '45.4688'}, '2015-04-02': {'RSI': '52.9783'}, '2015-03-27': {'RSI': '56.8133'}, '2015-03-20': {'RSI': '53.5575'}, '2015-03-13': {'RSI': '60.4398'}, '2015-03-06': {'RSI': '58.5317'}, '2015-02-27': {'RSI': '50.1655'}, '2015-02-20': {'RSI': '54.5253'}, '2015-02-13': {'RSI': '47.3291'}, '2015-02-06': {'RSI': '48.7031'}, '2015-01-30': {'RSI': '51.1390'}, '2015-01-23': {'RSI': '40.2505'}, '2015-01-16': {'RSI': '32.3334'}, '2015-01-09': {'RSI': '40.9434'}, '2015-01-02': {'RSI': '44.2905'}, '2014-12-26': {'RSI': '35.7646'}, '2014-12-19': {'RSI': '37.9240'}, '2014-12-12': {'RSI': '39.3329'}, '2014-12-05': {'RSI': '43.2061'}, '2014-11-28': {'RSI': '42.6665'}, '2014-11-21': {'RSI': '44.4705'}, '2014-11-14': {'RSI': '43.7047'}, '2014-11-07': {'RSI': '47.6193'}, '2014-10-31': {'RSI': '41.4054'}, '2014-10-24': {'RSI': '30.2919'}, '2014-10-17': {'RSI': '38.8341'}, '2014-10-10': {'RSI': '51.1948'}, '2014-10-03': {'RSI': '48.0943'}, '2014-09-26': {'RSI': '58.5792'}, '2014-09-19': {'RSI': '49.1378'}, '2014-09-12': {'RSI': '56.7548'}, '2014-09-05': {'RSI': '49.0848'}, '2014-08-29': {'RSI': '57.0275'}, '2014-08-22': {'RSI': '52.3888'}, '2014-08-15': {'RSI': '48.8570'}, '2014-08-08': {'RSI': '48.3215'}, '2014-08-01': {'RSI': '59.5671'}, '2014-07-25': {'RSI': '62.0816'}, '2014-07-18': {'RSI': '58.1260'}, '2014-07-11': {'RSI': '58.8262'}, '2014-07-03': {'RSI': '56.7655'}, '2014-06-27': {'RSI': '45.4351'}, '2014-06-20': {'RSI': '42.0083'}, '2014-06-13': {'RSI': '45.4494'}}}

In [8]:
google_rsi_weekly_df = pd.DataFrame.from_dict(google_rsi_weekly['Technical Analysis: RSI']).T
google_rsi_weekly_df.head(50)

                RSI
2021-10-08  54.8366
2021-10-01  69.5538
2021-09-24  65.9402
2021-09-17  79.7888
2021-09-10  85.7644
2021-09-03  85.7365
2021-08-27  81.6198
2021-08-20  80.7446
2021-08-13  79.8349
2021-08-06  78.5650
2021-07-30  87.9817
2021-07-23  83.3833
2021-07-16  82.2440
2021-07-09  81.9199
2021-07-02  79.8036
2021-06-25  78.6465
2021-06-18  78.5847
2021-06-11  75.8118
2021-06-04  74.4028
2021-05-28  71.6108
2021-05-21  68.3527
2021-05-14  77.4462
2021-05-07  81.5927
2021-04-30  78.5125
2021-04-23  77.3616
2021-04-16  76.3102
2021-04-09  70.9660
2021-04-01  62.5809
2021-03-26  64.4509
2021-03-19  67.0955
2021-03-12  72.1523
2021-03-05  69.7988
2021-02-26  71.0687
2021-02-19  75.4744
2021-02-12  75.6495
2021-02-05  63.1084
2021-01-29  71.9804
2021-01-22  58.9411
2021-01-15  64.3534
2021-01-08  61.6820
2020-12-31  61.1395
2020-12-24  57.6560
2020-12-18  66.2805
2020-12-11  73.3462
2020-12-04  70.9508
2020-11-27  68.8463
2020-11-20  72.1374
2020-11-13  74.9385
2020-11-06  64.3907
2020-10-30  64.1277

In [10]:
google_weekly_df = google_weekly_df.reset_index()

In [12]:
google_rsi_weekly_df = google_rsi_weekly_df.reset_index()

In [13]:
merged_weekly_rsi = pd.merge(google_weekly_df, google_rsi_weekly_df , on=['index', 'index'])
merged_weekly_rsi.head(50)

         index    1. open    2. high     3. low   4. close 5. volume      RSI
0   2021-10-08  2713.9900  2806.3400  2623.3300  2801.1200   5629992  54.8366
1   2021-10-01  2831.7100  2850.0000  2660.0000  2729.2500   7556112  69.5538
2   2021-09-24  2780.0035  2858.0700  2741.0600  2852.6600   5367017  65.9402
3   2021-09-17  2864.0200  2911.6300  2821.2300  2829.2700   7004342  79.7888
4   2021-09-10  2894.9900  2920.3800  2834.8300  2838.4200   3917972  85.7644
5   2021-09-03  2894.0900  2936.4099  2870.1000  2895.5000   5023164  85.7365
6   2021-08-27  2779.9700  2900.2200  2774.9586  2891.0100   4427462  81.6198
7   2021-08-20  2760.0000  2779.8100  2707.1200  2768.7400   4406099  80.7446
8   2021-08-13  2738.9800  2776.9550  2728.5750  2768.1200   3540233  79.8349
9   2021-08-06  2709.6900  2741.6009  2683.6700  2740.7200   4058399  78.5650
10  2021-07-30  2765.0000  2800.2200  2696.2840  2704.4200   8141483  87.9817
11  2021-07-23  2623.1100  2776.1700  2570.7400  2756.3200   4975998  83.3833
12  2021-07-16  2596.6700  2659.9199  2592.0000  2636.9100   4146746  82.2440
13  2021-07-09  2588.9900  2612.7983  2560.8000  2591.4900   3646144  81.9199
14  2021-07-02  2540.0000  2576.9600  2495.1500  2574.3800   5567985  79.8036
15  2021-06-25  2514.8000  2555.9200  2502.6850  2539.9000   5967753  78.6465
16  2021-06-18  2513.3900  2543.9300  2482.9994  2511.3500   7496921  78.5847
17  2021-06-11  2451.3200  2526.9900  2441.0725  2513.9300   6276085  75.8118
18  2021-06-04  2422.0000  2453.8590  2382.8300  2451.7600   4031119  74.4028
19  2021-05-28  2367.0000  2442.9440  2360.1100  2411.5600   6250431  71.6108
20  2021-05-21  2309.3200  2368.9999  2263.5200  2345.1000   5158304  68.3527
21  2021-05-14  2374.8900  2378.0000  2230.0500  2316.1600   7317239  77.4462
22  2021-05-07  2402.7200  2419.7000  2311.7000  2398.6900   6730430  81.5927
23  2021-04-30  2319.9300  2452.3780  2304.2700  2410.1200   9561479  78.5125
24  2021-04-23  2291.9800  2325.8200  2256.4500  2315.3000   6009895  77.3616
25  2021-04-16  2266.2500  2306.5965  2238.4650  2297.7600   6246324  76.3102
26  2021-04-09  2152.9400  2289.0400  2151.6200  2285.8800   7210396  70.9660
27  2021-04-01  2027.8800  2142.9400  2015.6200  2137.7500   5425459  62.5809
28  2021-03-26  2041.8400  2078.2100  2010.7300  2035.5500   7388549  64.4509
29  2021-03-19  2062.3000  2123.5600  2017.6800  2043.2000   7766228  67.0955
30  2021-03-12  2101.1300  2128.8100  2021.6100  2061.9200   7578201  72.1523
31  2021-03-05  2056.5200  2118.1100  2010.0000  2108.5400   8337115  69.7988
32  2021-02-26  2067.0000  2100.7800  2002.0200  2036.8600   8103757  71.0687
33  2021-02-19  2104.3600  2152.6800  2097.4100  2101.1400   4733557  75.4744
34  2021-02-12  2105.9100  2123.5469  2063.0900  2104.1100   5062914  75.6495
35  2021-02-05  1853.5700  2116.5000  1850.9300  2098.0000  11211680  63.1084
36  2021-01-29  1920.6700  1929.5800  1809.0000  1835.7400   9374441  71.9804
37  2021-01-22  1752.2500  1934.8600  1741.4600  1901.0500   7561036  58.9411
38  2021-01-15  1786.0700  1794.3150  1721.5500  1736.1900   6181977  64.3534
39  2021-01-08  1757.5400  1809.8400  1699.0000  1807.2100   9965340  61.6820
40  2020-12-31  1751.6350  1792.4400  1725.6000  1751.8800   5008727  61.1395
41  2020-12-24  1713.5100  1747.9900  1699.0000  1738.8500   4147394  57.6560
42  2020-12-18  1775.0000  1797.3900  1720.2200  1731.0100  10237074  66.2805
43  2020-12-11  1819.0000  1834.2700  1740.3200  1781.7700   6508322  73.3462
44  2020-12-04  1781.1844  1847.2000  1755.0000  1827.9900   7344925  70.9508
45  2020-11-27  1749.6000  1804.0000  1717.7200  1793.1900   5584711  68.8463
46  2020-11-20  1771.7000  1799.0700  1737.0050  1742.1900   7130930  72.1374
47  2020-11-13  1790.9000  1818.0600  1717.3000  1777.0200   8917706  74.9385
48  2020-11-06  1628.1600  1793.6400  1616.0300  1761.7500  11495063  64.3907
49  2020-10-30  1625.0100  1687.0000  1514.6200  1621.0100  11250141  64.1277

In [15]:
merged_weekly_rsi = merged_weekly_rsi.rename(columns={'index': 'Date', '1. open': 'Open', '2. high': 'High', '3. low': 'Low', '4. close': 'Close', '5. volume': 'Volume'})

merged_weekly_rsi

           Date       Open       High        Low      Close    Volume      RSI
0    2021-10-08  2713.9900  2806.3400  2623.3300  2801.1200   5629992  54.8366
1    2021-10-01  2831.7100  2850.0000  2660.0000  2729.2500   7556112  69.5538
2    2021-09-24  2780.0035  2858.0700  2741.0600  2852.6600   5367017  65.9402
3    2021-09-17  2864.0200  2911.6300  2821.2300  2829.2700   7004342  79.7888
4    2021-09-10  2894.9900  2920.3800  2834.8300  2838.4200   3917972  85.7644
..          ...        ...        ...        ...        ...       ...      ...
378  2014-07-11   583.7600   586.4299   565.0100   579.1800   7050000  58.8262
379  2014-07-03   578.6600   585.4399   574.7500   584.7300   4519900  56.7655
380  2014-06-27   555.1500   582.4500   554.2500   577.2400   9665700  45.4351
381  2014-06-20   549.2600   557.5800   539.3300   556.3600  11821600  42.0083
382  2014-06-13   557.1500   563.6000   545.5600   551.7600   6580300  45.4494

[383 rows x 7 columns]

In [16]:
merged_weekly_rsi.dropna()

           Date       Open       High        Low      Close    Volume      RSI
0    2021-10-08  2713.9900  2806.3400  2623.3300  2801.1200   5629992  54.8366
1    2021-10-01  2831.7100  2850.0000  2660.0000  2729.2500   7556112  69.5538
2    2021-09-24  2780.0035  2858.0700  2741.0600  2852.6600   5367017  65.9402
3    2021-09-17  2864.0200  2911.6300  2821.2300  2829.2700   7004342  79.7888
4    2021-09-10  2894.9900  2920.3800  2834.8300  2838.4200   3917972  85.7644
..          ...        ...        ...        ...        ...       ...      ...
378  2014-07-11   583.7600   586.4299   565.0100   579.1800   7050000  58.8262
379  2014-07-03   578.6600   585.4399   574.7500   584.7300   4519900  56.7655
380  2014-06-27   555.1500   582.4500   554.2500   577.2400   9665700  45.4351
381  2014-06-20   549.2600   557.5800   539.3300   556.3600  11821600  42.0083
382  2014-06-13   557.1500   563.6000   545.5600   551.7600   6580300  45.4494

[383 rows x 7 columns]

In [17]:
merged_weekly_rsi_adjusted = merged_weekly_rsi[['Date', 'Close', 'RSI']]
merged_weekly_rsi_adjusted

           Date      Close      RSI
0    2021-10-08  2801.1200  54.8366
1    2021-10-01  2729.2500  69.5538
2    2021-09-24  2852.6600  65.9402
3    2021-09-17  2829.2700  79.7888
4    2021-09-10  2838.4200  85.7644
..          ...        ...      ...
378  2014-07-11   579.1800  58.8262
379  2014-07-03   584.7300  56.7655
380  2014-06-27   577.2400  45.4351
381  2014-06-20   556.3600  42.0083
382  2014-06-13   551.7600  45.4494

[383 rows x 3 columns]

In [18]:
merged_weekly_rsi_adjusted = merged_weekly_rsi_adjusted.sort_values('Date', ascending = True)
merged_weekly_rsi_adjusted.head(50)

           Date     Close      RSI
382  2014-06-13  551.7600  45.4494
381  2014-06-20  556.3600  42.0083
380  2014-06-27  577.2400  45.4351
379  2014-07-03  584.7300  56.7655
378  2014-07-11  579.1800  58.8262
377  2014-07-18  595.0800  58.1260
376  2014-07-25  589.0200  62.0816
375  2014-08-01  566.0700  59.5671
374  2014-08-08  568.7700  48.3215
373  2014-08-15  573.4800  48.8570
372  2014-08-22  582.5600  52.3888
371  2014-08-29  571.6000  57.0275
370  2014-09-05  586.0800  49.0848
369  2014-09-12  575.6200  56.7548
368  2014-09-19  596.0800  49.1378
367  2014-09-26  577.1000  58.5792
366  2014-10-03  575.2800  48.0943
365  2014-10-10  544.4900  51.1948
364  2014-10-17  511.1700  38.8341
363  2014-10-24  539.7800  30.2919
362  2014-10-31  559.0800  41.4054
361  2014-11-07  541.0100  47.6193
360  2014-11-14  544.4000  43.7047
359  2014-11-21  537.5000  44.4705
358  2014-11-28  541.8300  42.6665
357  2014-12-05  525.2600  43.2061
356  2014-12-12  518.6600  39.3329
355  2014-12-19  516.3500  37.9240
354  2014-12-26  534.0300  35.7646
353  2015-01-02  524.8100  44.2905
352  2015-01-09  496.1700  40.9434
351  2015-01-16  508.0800  32.3334
350  2015-01-23  539.9500  40.2505
349  2015-01-30  534.5200  51.1390
348  2015-02-06  531.0000  48.7031
347  2015-02-13  549.0100  47.3291
346  2015-02-20  538.9500  54.5253
345  2015-02-27  558.4000  50.1655
344  2015-03-06  567.6850  58.5317
343  2015-03-13  547.3200  60.4398
342  2015-03-20  560.3600  53.5575
341  2015-03-27  548.3400  56.8133
340  2015-04-02  535.5300  52.9783
339  2015-04-10  540.0100  45.4688
338  2015-04-17  524.0500  48.0780
337  2015-04-24  565.0600  43.3127
336  2015-05-01  537.9000  57.2135
335  2015-05-08  538.2200  48.5173
334  2015-05-15  533.8500  48.4646
333  2015-05-22  540.1100  46.2468

In [19]:
merged_weekly_rsi_adjusted.dtypes

Date     object
Close    object
RSI      object
dtype: object

In [20]:
merged_weekly_rsi_adjusted['Close'] = pd.to_numeric(merged_weekly_rsi_adjusted['Close'], errors='coerce')

In [21]:
merged_weekly_rsi_adjusted['RSI'] = pd.to_numeric(merged_weekly_rsi_adjusted['RSI'], errors='coerce')

In [22]:
merged_weekly_rsi_adjusted.dtypes

Date      object
Close    float64
RSI      float64
dtype: object

In [23]:
merged_weekly_rsi_adjusted['Buy'] = (merged_weekly_rsi_adjusted['RSI'] < 30) & (merged_weekly_rsi_adjusted['RSI'].shift(periods = 1) > 30)

In [24]:
merged_weekly_rsi_adjusted['Sell'] = (merged_weekly_rsi_adjusted['RSI'] > 70) & (merged_weekly_rsi_adjusted['RSI'].shift(periods = 1) < 70)

In [25]:
merged_weekly_rsi_adjusted.head(50)

           Date    Close      RSI    Buy   Sell
382  2014-06-13  551.760  45.4494  False  False
381  2014-06-20  556.360  42.0083  False  False
380  2014-06-27  577.240  45.4351  False  False
379  2014-07-03  584.730  56.7655  False  False
378  2014-07-11  579.180  58.8262  False  False
377  2014-07-18  595.080  58.1260  False  False
376  2014-07-25  589.020  62.0816  False  False
375  2014-08-01  566.070  59.5671  False  False
374  2014-08-08  568.770  48.3215  False  False
373  2014-08-15  573.480  48.8570  False  False
372  2014-08-22  582.560  52.3888  False  False
371  2014-08-29  571.600  57.0275  False  False
370  2014-09-05  586.080  49.0848  False  False
369  2014-09-12  575.620  56.7548  False  False
368  2014-09-19  596.080  49.1378  False  False
367  2014-09-26  577.100  58.5792  False  False
366  2014-10-03  575.280  48.0943  False  False
365  2014-10-10  544.490  51.1948  False  False
364  2014-10-17  511.170  38.8341  False  False
363  2014-10-24  539.780  30.2919  False  False
362  2014-10-31  559.080  41.4054  False  False
361  2014-11-07  541.010  47.6193  False  False
360  2014-11-14  544.400  43.7047  False  False
359  2014-11-21  537.500  44.4705  False  False
358  2014-11-28  541.830  42.6665  False  False
357  2014-12-05  525.260  43.2061  False  False
356  2014-12-12  518.660  39.3329  False  False
355  2014-12-19  516.350  37.9240  False  False
354  2014-12-26  534.030  35.7646  False  False
353  2015-01-02  524.810  44.2905  False  False
352  2015-01-09  496.170  40.9434  False  False
351  2015-01-16  508.080  32.3334  False  False
350  2015-01-23  539.950  40.2505  False  False
349  2015-01-30  534.520  51.1390  False  False
348  2015-02-06  531.000  48.7031  False  False
347  2015-02-13  549.010  47.3291  False  False
346  2015-02-20  538.950  54.5253  False  False
345  2015-02-27  558.400  50.1655  False  False
344  2015-03-06  567.685  58.5317  False  False
343  2015-03-13  547.320  60.4398  False  False
342  2015-03-20  560.360  53.5575  False  False
341  2015-03-27  548.340  56.8133  False  False
340  2015-04-02  535.530  52.9783  False  False
339  2015-04-10  540.010  45.4688  False  False
338  2015-04-17  524.050  48.0780  False  False
337  2015-04-24  565.060  43.3127  False  False
336  2015-05-01  537.900  57.2135  False  False
335  2015-05-08  538.220  48.5173  False  False
334  2015-05-15  533.850  48.4646  False  False
333  2015-05-22  540.110  46.2468  False  False

In [26]:
df = merged_weekly_rsi_adjusted[((merged_weekly_rsi_adjusted['Sell'] == True) & (merged_weekly_rsi_adjusted['Sell'].shift(periods = 1) == False)) | ((merged_weekly_rsi_adjusted['Buy'] == True) & (merged_weekly_rsi_adjusted['Buy'].shift(periods = 1) == False))] 
df = df.reset_index()
df

    index        Date    Close      RSI    Buy   Sell
0     324  2015-07-24   623.56  77.7519  False   True
1     320  2015-08-21   612.48  70.9170  False   True
2     309  2015-11-06   733.76  70.0643  False   True
3     306  2015-11-27   750.26  73.4069  False   True
4     238  2017-03-17   852.12  71.4864  False   True
5     231  2017-05-05   927.13  74.9306  False   True
6     223  2017-06-30   908.73  72.6429  False   True
7     205  2017-11-03  1032.48  72.3944  False   True
8     198  2017-12-22  1060.12  72.6044  False   True
9     195  2018-01-12  1122.26  74.4611  False   True
10    128  2019-04-26  1272.18  71.4120  False   True
11     99  2019-11-15  1334.87  71.5082  False   True
12     95  2019-12-13  1347.83  70.6153  False   True
13     87  2020-02-07  1479.23  73.1128  False   True
14     81  2020-03-20  1072.32  26.2396   True  False
15     57  2020-09-04  1591.04  73.0204  False   True
16     47  2020-11-13  1777.02  74.9385  False   True
17     44  2020-12-04  1827.99  70.9508  False   True
18     36  2021-01-29  1835.74  71.9804  False   True
19     34  2021-02-12  2104.11  75.6495  False   True
20     30  2021-03-12  2061.92  72.1523  False   True
21     26  2021-04-09  2285.88  70.9660  False   True
22     19  2021-05-28  2411.56  71.6108  False   True

In [27]:
df2 = df[((df['Sell'] == True) & (df['Sell'].shift(periods = 1) == False)) | ((df['Buy'] == True) & (df['Buy'].shift(periods = 1) == False))] 
df2 = df2.reset_index()
df2

   level_0  index        Date    Close      RSI    Buy   Sell
0       14     81  2020-03-20  1072.32  26.2396   True  False
1       15     57  2020-09-04  1591.04  73.0204  False   True

In [28]:
import numpy as np

In [29]:
cap = 10000
shares = 0
cap_list = []
share_list = []
df_test = df2.copy()

for i, row in df_test.iterrows():
    if row['Sell']:
        #print("sell")
        cap = shares * row['Close']
        shares = 0
        #print(f"1 cap = {cap} \t shares={shares}")

        cap_list.append(cap)
        share_list.append(0)
    else:
        #print("buy")
        shares = cap / row['Close']
        cap = 0
        #print(f"2 cap = {cap} \t shares={shares}")

        cap_list.append(0)
        share_list.append(shares)

    if cap < 0:
        print("BROKE!!!")
        break

if cap >= 0:
    df_test['capital'] = cap_list
    df_test['shares'] = share_list

df_test

,level_0,index,Date,Close,RSI,Buy,Sell,capital,shares
0,14,81,2020-03-20,1072.32,26.2396,True,False,0.000000,9.325574
1,15,57,2020-09-04,1591.04,73.0204,False,True,14837.361981,0.000000

In [30]:
df_test

,level_0,index,Date,Close,RSI,Buy,Sell,capital,shares
0,14,81,2020-03-20,1072.32,26.2396,True,False,0.000000,9.325574
1,15,57,2020-09-04,1591.04,73.0204,False,True,14837.361981,0.000000